<aside class="col-12 mx-auto">
  <div class="col-md-6 text-center mx-auto alert {{response.class}}" ng-hide="response == null">{{response.text}}</div>
</aside>

<div class="col-md-6 mx-auto">
  <form name="availabilityForm" data-ng-submit="submitForm()" novalidate>
    <div class="row">
      <div class="form-group col-sm-4">
        <label>Day</label>
        <select name="day" class="form-control" data-ng-model="availabiltyFormData.day" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <p data-ng-show="availabilityForm.day.$pristine" class="help-block">Day is required</p>
      </div>
      <div class="form-group col-sm-4">
        <label>Month</label>
        <select name="month" class="form-control" data-ng-model="availabiltyFormData.month" required>
          <option value="0">January</option>
          <option value="1">February</option>
          <option value="2">March</option>
          <option value="3">April</option>
          <option value="4">May</option>
          <option value="5">June</option>
          <option value="6">July</option>
          <option value="7">August</option>
          <option value="8">September</option>
          <option value="9">October</option>
          <option value="10">November</option>
          <option value="11">December</option>
        </select>
        <p data-ng-show="availabilityForm.month.$pristine" class="help-block">Month is required</p>
      </div>
      <div class="form-group col-sm-4">
        <label>Year</label>
        <select name="year" class="form-control" data-ng-model="availabiltyFormData.year" required>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
        </select>
        <p data-ng-show="availabilityForm.year.$pristine" class="help-block">Year is required</p>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary px-4" data-ng-disabled="availabilityForm.$invalid">Check Now</button>
    </div>
  </form>
</div>