<section class="hero">
  <div class="hero-overlay">
    <article class="hero-overlay-content">
      <h1 class="text-uppercase hero-text">
        <span class="header-lines">
          <span class="larger-text">B</span>ook
          <span class="larger-text">U</span>s
        </span>
      </h1>
    </article>
  </div>
  <img src="img/book-us.jpg" alt="The Carpentry Company" class="hero-image">
</section>

<section class="container py-5">
  <header class="text-center py-5">
    <h2>
      <span class="header-lines">Upcoming project bookings</span>
    </h2>
  </header>

  <article class="row">
    <booking-table class="mx-auto"></booking-table>
  </article>
</section>

<section class="container py-5">
  <header class="text-center pb-5">
    <h2>
      <span class="header-lines">Check availability</span>
    </h2>
  </header>

  <availability-form class="row"></availability-form>

</section>